# Virtual Environment
venv/

# Environment variable / Sectrets
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp